@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
body {
  background-color: rgb(198, 223, 204) !important;
  font-family: "Nunito", serif !important;
  width: 100%;
}
.logo {
  padding-bottom: 200px !important;
}
.logo-image {
  box-shadow: 10px 10px 10px 10px rgb(0, 0, 0) !important;
  width: 20%;
}

.image-zoom {
  transition: transform .9s ease;
}
.image-zoom:hover {
  transform: scale(1.2);
}
#moreButton {
	box-shadow: 0px 0px 10px 2px #3dc21b;
	background-color:#44c767;
	border-radius:10px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:14px 8px;
	text-decoration:none;
	text-shadow:0px 0px 10px #2f6627;
}
#moreButton:hover {
  background-color: #5cbf2a !important;
}
#moreButton:active {
  position:relative;
	top:1px;
}
.contact3 {
<<<<<<< Updated upstream
  font-family: "Montserrat", sans-serif;
  color: #8d97ad;
  font-weight: 300;
}
.contact3 h1,
.contact3 h2,
.contact3 h3,
.contact3 h4,
.contact3 h5,
.contact3 h6 {
  color: #3e4555;
}
.contact3 .font-weight-medium {
  font-weight: 500;
}
.contact3 .card-shadow {
  -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
}
#myBtn { 
  display: none;
  position: fixed; 
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none; 
	background-color:#44c767;
	box-shadow: 0px 0px 10px 2px #3dc21b;
  color: white; 
  cursor: pointer;
	padding:14px 8px;
	border-radius:10px;
  font-size: 17px;
  text-decoration:none;
  text-shadow:0px 0px 10px #2f6627;
} 
#myBtn:hover {
	background-color:#5cbf2a;
}
#myBtn:active {
	position:relative;
	top:1px;
}
.footerButtons {
  text-decoration:none;
  color: #44c767;
  text-transform: uppercase;
}
.footerButtons:hover {
  color:#5cbf2a;
}
=======
    font-family: "Montserrat", sans-serif;
    color: #8d97ad;
    font-weight: 300;
  }
  
  .contact3 h1,
  .contact3 h2,
  .contact3 h3,
  .contact3 h4,
  .contact3 h5,
  .contact3 h6 {
    color: #3e4555;
  }
  
  .contact3 .font-weight-medium {
    font-weight: 500;
  }
  
  .contact3 .card-shadow {
    -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
    box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  }
  
.footer-links {
  text-decoration: none;
  font-size: 18px;
  padding-left: 10px;
  color: green;

}
.footer-links:hover {
  color: black;
}



>>>>>>> Stashed changes
